Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, pnpm docs:build

.lintstagedrc:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "docs/**/*": ["pnpm docs:build"]
}

🙈 docs/.vitepress/.temp/
  .gitignore
Due: none

✨ 增加全选快捷键
  src/core/stage/stageManager/StageManager.tsx
  src/locales/en.yml
  src/locales/zh-CN.yml
  src/locales/zh-TW.yml
  src/main.tsx
Due: prettier --write, eslint --fix

💄 增加视野边框闪光特效
  src/core/effect/concrete/ViewOutlineFlashEffect.tsx
  src/core/render/canvas2d/basicRenderer/shapeRenderer.tsx
  src/main.tsx
Due: prettier --write, eslint --fix

💄 优化节点创建闪电特效
  src/core/algorithm/random.tsx
  src/core/dataStruct/shape/Rectangle.tsx
  src/core/effect/concrete/EntityCreateLineEffect.tsx
  src/core/effect/concrete/ZapLineEffect.tsx
  src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
Due: prettier --write, eslint --fix

:sparkles: 文档下载链接旁边显示更新日志
  changelogs/1.0.0.md
  changelogs/1.1.0.md
  docs/.vitepress/theme/GithubRelease.vue
  docs/zh/installation.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, pnpm docs:build

🚸 减小导出svg的体积，将所有坐标点改成保留一位小数
  docs/zh/features/compute-engine.md
  src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  src/core/render/svg/SvgUtils.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/pages/_app_menu.tsx
Due: prettier --write, eslint --fix, pnpm docs:build

🐛 修复svg导出字体消失的bug
  src/core/render/svg/SvgUtils.tsx
Due: prettier --write, eslint --fix

📝 修复逻辑节点的文档
  docs/zh/features/compute-engine.md
Due: prettier --write, pnpm docs:build

🧑‍💻 增加了特效机器类
  src/core/render/canvas2d/renderer.tsx
  src/core/service/RecentFileManager.tsx
  src/core/service/autoComputeEngine/mainTick.tsx
  src/core/service/controller/concrete/ControllerCutting.tsx
  src/core/service/controller/concrete/ControllerDragFile.tsx
  src/core/service/controller/concrete/ControllerDrawing.tsx
  src/core/service/controller/concrete/ControllerEntityLayerMoving.tsx
  src/core/service/controller/concrete/ControllerNodeConnection.tsx
  src/core/service/controller/concrete/utilsControl.tsx
  src/core/service/effectEngine/effectMachine.tsx
  src/core/service/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  src/core/stage/Camera.tsx
  src/core/stage/Stage.tsx
  src/core/stage/StageSaveManager.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
  src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  src/core/stage/stageManager/concreteMethods/StageGeneratorAI.tsx
  src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
  src/core/stage/stageManager/concreteMethods/stageNodeRotate.tsx
  src/core/stageObject/entity/ConnectPoint.tsx
  src/core/stageObject/entity/Section.tsx
  src/core/stageObject/entity/TextNode.tsx
  src/core/stageObject/entity/UrlNode.tsx
  src/main.tsx
  src/pages/_searching_node_panel.tsx
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

📝 更改核心架构图
  docs-pg/ProjectGraph项目架构.json
Due: prettier --write

:lipstick: 修改欢迎页面背景
  src/pages/welcome/_layout.tsx
  src/pages/welcome/index.tsx
Due: prettier --write, eslint --fix

:children_crossing: 优化报错弹窗
  src/pages/_error_handler.tsx
Due: prettier --write, eslint --fix

♻️ 优化切割线代码结构，减小Stage.tsx代码量
  src/core/render/canvas2d/renderer.tsx
  src/core/service/controller/concrete/ControllerCutting.tsx
  src/core/service/controller/concrete/ControllerNodeConnection.tsx
  src/core/service/controller/concrete/ControllerNodeMove.tsx
  src/core/service/controller/concrete/ControllerNodeRotation.tsx
  src/core/stage/Stage.tsx
Due: prettier --write, eslint --fix

♻️ 优化框选控制器代码，减小Stage.tsx体积
  src/core/render/canvas2d/renderer.tsx
  src/core/service/controller/ControllerClass.tsx
  src/core/service/controller/concrete/ControllerEntityCreate.tsx
  src/core/service/controller/concrete/ControllerNodeConnection.tsx
  src/core/service/controller/concrete/ControllerNodeMove.tsx
  src/core/service/controller/concrete/ControllerNodeRotation.tsx
  src/core/service/controller/concrete/ControllerRectangleSelect.tsx
  src/core/stage/Stage.tsx
Due: prettier --write, eslint --fix

♻️ 优化框选控制器代码，减小Stage.tsx文件体积
  src/core/render/canvas2d/renderer.tsx
  src/core/service/controller/concrete/ControllerRectangleSelect.tsx
  src/core/stage/Stage.tsx
Due: prettier --write, eslint --fix

♻️ 更改连线控制器代码结构，减小Stage.tsx体积
  src/core/render/canvas2d/renderer.tsx
  src/core/service/controller/concrete/ControllerCamera.tsx
  src/core/service/controller/concrete/ControllerNodeConnection.tsx
  src/core/stage/Stage.tsx
Due: prettier --write, eslint --fix

🙈 src-tauri/Project Graph
  .gitignore
  src-tauri/Project Graph
Due: none

♻️ 优化内容搜索服务代码，减小Stage.tsx
  src/core/service/contentSearchEngine/contentSearchEngine.tsx
  src/core/stage/Stage.tsx
  src/pages/_searching_node_panel.tsx
Due: prettier --write, eslint --fix

✨ 增加 log、ln、exp、反三角函数逻辑节点
  src/core/algorithm/numberFunctions.tsx
  src/core/service/autoComputeEngine/functions/mathLogic.tsx
  src/core/service/autoComputeEngine/logicNodeNameEnum.tsx
  src/core/service/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

📝 更新文档
  docs/zh/features/compute-engine.md
Due: prettier --write, pnpm docs:build

📝 更新文档
  docs/zh/features/compute-engine.md
  src/core/service/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix, pnpm docs:build

✨ 增加逻辑节点：平均值，中位数、众数、方差、标准差
  src/core/service/autoComputeEngine/functions/mathLogic.tsx
  src/core/service/autoComputeEngine/logicNodeNameEnum.tsx
  src/core/service/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

✨ 增加逻辑节点：随机整数、随机小数、泊松分布
  src/core/service/autoComputeEngine/functions/mathLogic.tsx
  src/core/service/autoComputeEngine/logicNodeNameEnum.tsx
  src/core/service/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

📝 更新逻辑节点文档
  docs/zh/features/compute-engine.md
Due: prettier --write, pnpm docs:build

📝 更新开发进程图
  docs-pg/ProjectGraph开发进程图.json
Due: prettier --write

💄 优化节点创建特效，之前的太浮夸了
  src/core/service/effectEngine/concrete/EntityCreateLineEffect.tsx
  src/core/service/effectEngine/concrete/TechLineEffect.tsx
Due: prettier --write, eslint --fix

✨ 自定义节点文本换行和退出编辑的快捷键
  src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  src/core/render/domElement/inputElement.tsx
  src/core/service/Settings.tsx
  src/locales/en.yml
  src/locales/zh-CN.yml
  src/locales/zh-TW.yml
  src/main.tsx
  src/pages/settings/control.tsx
Due: prettier --write, eslint --fix

feat: 添加部分基础文件系统框架
  src/core/storage/FileSystemFactory.ts
  src/core/storage/IFileSystem.ts
  src/core/storage/TauriFileSystem.ts.tmp
Due: prettier --write, eslint --fix

🐛 修复了多行文本导出svg后的换行问题
  src/core/render/svg/README.md
  src/core/render/svg/SvgUtils.tsx
  src/core/stage/StageDumperSvg.tsx
Due: prettier --write, eslint --fix

fix: 修复鼠标拖出窗口后触发上下文菜单的问题
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

🚸 增加节点回车换行输入错了的特效提示
  src/core/render/domElement/inputElement.tsx
  src/core/service/effectEngine/concrete/EntityShakeEffect.tsx
  src/core/service/effectEngine/concrete/TextRiseEffect.tsx
Due: prettier --write, eslint --fix

🚸 增加换行成功的特效提示
  src/core/render/domElement/inputElement.tsx
  src/core/service/effectEngine/concrete/EntityDashTipEffect.tsx
Due: prettier --write, eslint --fix

💄 优化对齐特效颜色
  src/core/service/effectEngine/concrete/EntityAlignEffect.tsx
  src/core/service/effectEngine/concrete/RectangleRenderEffect.tsx
Due: prettier --write, eslint --fix

🚸 增加实体中心吸附对齐
  src/core/dataStruct/Color.tsx
  src/core/service/effectEngine/concrete/EntityAlignEffect.tsx
  src/core/service/effectEngine/concrete/RectangleRenderEffect.tsx
  src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
Due: prettier --write, eslint --fix

🚸 优化自动对齐
  src/core/algorithm/arrayFunctions.tsx
  src/core/service/effectEngine/concrete/EntityAlignEffect.tsx
  src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
Due: prettier --write, eslint --fix

✨ 增加创建节点的逻辑节点
  src/core/service/autoComputeEngine/functions/nodeLogic.tsx
  src/core/service/autoComputeEngine/logicNodeNameEnum.tsx
  src/core/service/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

✨ 增加逻辑节点面板
  src/core/service/autoComputeEngine/mainTick.tsx
  src/pages/_app.tsx
  src/pages/_logic_node_panel.tsx
Due: prettier --write, eslint --fix
