Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, pnpm docs:build

feat: 修改至VFileSystem
  src-tauri/src/lib.rs
  src/cli.tsx
  src/core/service/RecentFileManager.tsx
  src/core/service/SoundService.tsx
  src/core/service/VFileSystem.tsx
  src/core/service/controller/concrete/ControllerCopy.tsx
  src/core/service/controller/concrete/ControllerDragFile.tsx
  src/core/stage/StageSaveManager.tsx
  src/core/stage/stageObject/entity/ImageNode.tsx
  src/main.tsx
  src/pages/_app_menu.tsx
  src/pages/_start_file_panel.tsx
  src/pages/_toolbar.tsx
  src/pages/index.tsx
  src/utils/fs/FileSystemFactory.tsx
  src/utils/fs/IFileSystem.ts
  src/utils/fs/IFileSystem.tsx
  src/utils/fs/IndexedDBFileSystem.tsx
  src/utils/fs/TauriFileSystem.tsx
  src/utils/fs/WebFileApiSystem.tsx
  src/utils/fs/com.tsx
  src/utils/platform.tsx
Due: prettier --write, eslint --fix

build(deps): 添加 lodash 库
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(components): 修复 Popup 组件的报错问题
  src/components/popup.tsx
Due: prettier --write, eslint --fix

:arrow_up: update tauri
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

💄 增加了马卡龙色系
  src/core/render/canvas2d/renderer.tsx
  src/core/service/Settings.tsx
  src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  src/core/service/feedbackService/stageStyle/stageStyle.tsx
  src/locales/en.yml
  src/locales/zh_CN.yml
  src/locales/zh_TW.yml
Due: prettier --write, eslint --fix

✨ 增加了白色UI主题和马卡龙UI主题
  src/core/service/Settings.tsx
  src/index.css
  src/locales/en.yml
  src/locales/zh_CN.yml
  src/locales/zh_TW.yml
  src/pages/_app.tsx
  src/pages/_app_menu.tsx
  src/pages/_logic_node_panel.tsx
  src/pages/_start_file_panel.tsx
  src/pages/_tag_panel.tsx
  src/pages/_toolbar.tsx
  src/pages/settings/_field.tsx
  src/pages/settings/_layout.tsx
  src/pages/settings/about.tsx
  src/pages/settings/visual.tsx
  src/pages/test.tsx
Due: prettier --write, eslint --fix

💄 优化马卡龙配色
  src/index.css
  src/pages/settings/_field.tsx
Due: prettier --write, eslint --fix

💄 新增莫兰迪色系
  src/core/dataStruct/Color.tsx
  src/core/service/Settings.tsx
  src/core/service/feedbackService/stageStyle/stageStyle.tsx
  src/index.css
  src/locales/en.yml
  src/locales/zh_CN.yml
  src/locales/zh_TW.yml
Due: prettier --write, eslint --fix

🐛 禁止ctrl+f和ctrl+g出现的浏览器默认输入框
  src/core/service/controlService/controller/Controller.tsx
Due: prettier --write, eslint --fix

✨ 增加将文本节点转换成框的快捷键：ctrl+shift+g
  src/core/service/controlService/controller/Controller.tsx
  src/core/service/feedbackService/effectEngine/effectMachine.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  src/core/stage/stageObject/entity/Section.tsx
  src/locales/en.yml
  src/locales/zh_CN.yml
  src/locales/zh_TW.yml
  src/main.tsx
Due: prettier --write, eslint --fix

Translated using Weblate (English)
  src/locales/en.yml
Due: prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  src/locales/zh_TW.yml
Due: prettier --write

📝 新增决策日志并更新开发进程图
  docs-pg/ProjectGraph决策日志.json
  docs-pg/ProjectGraph开发进程图.json
Due: prettier --write

📝 更新项目架构文档图
  docs-pg/ProjectGraph项目架构.json
Due: prettier --write

:bug: 修复教程始终弹出
  src/index.css
  src/main.tsx
Due: prettier --write, eslint --fix

🐛 import Tourials
  src/locales/en.yml
  src/locales/zh_TW.yml
  src/main.tsx
Due: prettier --write, eslint --fix

🐛 修复节点详情按钮在未显示时的误触
  src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
Due: prettier --write, eslint --fix

🐛 编辑节点详细信息的视野移动锁定解除
  src/core/service/controlService/controller/concrete/utilsControl.tsx
Due: prettier --write, eslint --fix

♻️ 减小StageManager体积
  src/core/service/controlService/autoLayoutEngine/autoLayoutFastTreeMode.tsx
  src/core/service/controlService/autoLayoutEngine/mainTick.tsx
  src/core/service/dataGenerateService/autoComputeEngine/AutoComputeUtils.tsx
  src/core/service/dataGenerateService/stageExportEngine/stageExportEngine.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/core/stage/stageManager/basicMethods/GraphMethods.tsx
  src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  src/core/stage/stageManager/concreteMethods/stageNodeRotate.tsx
Due: prettier --write, eslint --fix

build(deps): 添加 jszip 依赖
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(fs): 优化文件系统功能并支持目录操作
  src/utils/fs/IndexedDBFileSystem.tsx
  src/utils/fs/com.tsx
Due: prettier --write, eslint --fix

feat(file): 改进文件打开功能并添加文件后缀处理
  src/core/service/RecentFileManager.tsx
  src/pages/_app_menu.tsx
  src/utils/pathString.tsx
Due: prettier --write, eslint --fix

✨ 连线上可以设置颜色了
  src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  src/core/render/canvas2d/entityRenderer/edge/concrete/StraightEdgeRenderer.tsx
  src/core/render/canvas2d/entityRenderer/edge/concrete/SymmetryCurveEdgeRenderer.tsx
  src/core/render/canvas2d/entityRenderer/edge/concrete/VerticalPolyEdgeRenderer.tsx
  src/core/stage/StageDumper.tsx
  src/core/stage/StageLoader.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
  src/core/stage/stageObject/association/LineEdge.tsx
  src/pages/_toolbar.tsx
  src/types/node.tsx
Due: prettier --write, eslint --fix

✨ 增加实体详细信息渲染字体大小自定义和行数限制自定义
  src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  src/core/render/canvas2d/renderer.tsx
  src/core/service/Settings.tsx
  src/locales/en.yml
  src/locales/zh_CN.yml
  src/locales/zh_TW.yml
  src/pages/settings/visual.tsx
Due: prettier --write, eslint --fix

feat(core): 修改虚拟文件系统相关功能
  src/core/service/VFileSystem.tsx
  src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  src/core/service/dataFileService/RecentFileManager.tsx
  src/core/service/dataFileService/StageSaveManager.tsx
  src/core/service/dataGenerateService/stageExportEngine/stageExportEngine.tsx
  src/core/service/dataManageService/copyEngine/copyEngine.tsx
  src/core/service/feedbackService/SoundService.tsx
  src/utils/fs/com.tsx
Due: prettier --write, eslint --fix

refactor(service): 移动 VFileSystem 到合适的位置
  src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  src/core/service/dataFileService/RecentFileManager.tsx
  src/core/service/dataFileService/StageSaveManager.tsx
  src/core/service/dataFileService/VFileSystem.tsx
  src/core/service/dataManageService/copyEngine/copyEngine.tsx
  src/core/stage/stageObject/entity/ImageNode.tsx
  src/main.tsx
Due: prettier --write, eslint --fix

feat(core): 优化文件系统并添加清除功能
  src/core/service/dataFileService/VFileSystem.tsx
  src/utils/fs/IndexedDBFileSystem.tsx
Due: prettier --write, eslint --fix

feat(core): 在关闭时清理虚拟文件系统并优化文件加载逻辑
  src/core/service/dataFileService/VFileSystem.tsx
  src/pages/_app.tsx
  src/pages/_app_menu.tsx
  src/pages/_recent_files_panel.tsx
  src/pages/_start_file_panel.tsx
Due: prettier --write, eslint --fix

fix(file): 修复vfs操作时丢失await的问题
  src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  src/core/service/dataManageService/copyEngine/copyEngine.tsx
Due: prettier --write, eslint --fix

📝 更新贡献文档
  docs/contributing.md
  docs/zh/contributing.md
Due: prettier --write, pnpm docs:build

⬆️ update vitest
  package.json
  pnpm-lock.yaml
  src/__tests__/README.md
  tests/deco.test.tsx
  tests/lruCache.test.tsx
  tests/mod.test.tsx
  tests/monoStack.test.tsx
  tests/parseMarkdownToJSON.test.tsx
  tests/validUrl.test.tsx
  tests/vector.test.tsx
  tests/vitest.test.tsx
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

📝 修改toolbar连线颜色更改的文字
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

🐛 临时性解决toolbar过高遮挡右上角按钮的问题
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

🐛 修复节点注释删除不干净导致右上角图标一直显示的问题
  src/core/render/canvas2d/entityRenderer/EntityDetailsButtonRenderer.tsx
Due: prettier --write, eslint --fix

🐛 更新两个逻辑节点：根据颜色收集内容时遇到空内容不收集
  src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
Due: prettier --write, eslint --fix

✨ 添加了节点详细信息宽度的自定义调整
  src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  src/core/render/canvas2d/renderer.tsx
  src/core/service/Settings.tsx
  src/locales/en.yml
  src/locales/zh_CN.yml
  src/locales/zh_TW.yml
  src/pages/settings/visual.tsx
Due: prettier --write, eslint --fix

📝 更新决策日志文档
  docs-pg/ProjectGraph决策日志.json
Due: prettier --write

feat(utils): 添加将绝对路径转换为文件后缀的功能
  src/utils/pathString.tsx
Due: prettier --write, eslint --fix

feat(core): 添加 legacy 文件打开功能
  src/core/service/dataFileService/RecentFileManager.tsx
  src/pages/_app_menu.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yaml,yml})
  eslint --fix: any of: *.{ts,tsx}
  pnpm docs:build: any of: docs/**/*
