Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, pnpm docs:build

.lintstagedrc:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "docs/**/*": ["pnpm docs:build"]
}

style(fs): 格式化文件系统相关代码
  src/utils/fs/IFileSystem.tsx
  src/utils/fs/TauriFileSystem.tsx
  src/utils/fs/WebFileApiSystem.tsx
Due: prettier --write, eslint --fix

feat(i18n): 添加“从旧版文件打开”功能的多语言翻译
  src/locales/en.yml
  src/locales/zh_CN.yml
  src/locales/zh_TW.yml
Due: prettier --write

style(icon): 修改打开_legacy_文件按钮的图标
  src/pages/_app_menu.tsx
Due: prettier --write, eslint --fix

📝 更新决策日志
  docs-pg/ProjectGraph决策日志.json
Due: prettier --write

🐛 修复无法粘贴图片到舞台
  src/core/service/dataManageService/copyEngine/copyEngine.tsx
Due: prettier --write, eslint --fix

🎨 修改了后缀名，并将其作为一个全局常量
  src/pages/_app_menu.tsx
  src/pages/_recent_files_panel.tsx
  src/pages/_start_file_panel.tsx
  src/pages/_toolbar.tsx
  src/utils/fs/com.tsx
Due: prettier --write, eslint --fix

🙈 更新ignore文件
  .gitignore
Due: none

🚸 增加按钮细节提示
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_logic_node_panel.tsx
  app/src/pages/test.tsx
Due: prettier --write, eslint --fix

format: git commit自动刷新格式
  pnpm-lock.yaml
Due: prettier --write

🔥 删除两个无用backup文件
  docs/src/dev/ProjectGraph开发进程图.json.2024-12-28_20-46-41.backup
  docs/src/dev/ProjectGraph开发进程图.json.2024-12-28_22-13-52.backup
Due: pnpm docs:build

🚸 完善旧版本文件加载失败提示
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/main.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_recent_files_panel.tsx
  app/src/pages/_start_file_panel.tsx
Due: prettier --write, eslint --fix

🚸 优化提示
  app/src/pages/_start_file_panel.tsx
Due: prettier --write, eslint --fix

✨ 增加最近打开记录的删除功能
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/pages/_recent_files_panel.tsx
Due: prettier --write, eslint --fix

🎨 简化代码
  app/src/core/render/domElement/inputElement.tsx
Due: prettier --write, eslint --fix

🐛 修复了节点进入输入状态和换行的快捷键问题
  app/src/core/render/domElement/inputElement.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
Due: prettier --write, eslint --fix

💄 优化控制设置界面，增加分组分类
  app/src/pages/settings/_field.tsx
  app/src/pages/settings/_layout.tsx
  app/src/pages/settings/control.tsx
Due: prettier --write, eslint --fix

✨ 增加了进入编辑状态的按键配置项
  app/src/core/render/domElement/inputElement.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/control.tsx
  app/src/utils/keyboardFunctions.tsx
Due: prettier --write, eslint --fix

✨ 增加了进入编辑状态时是否自动全选内容的自定义设置项
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/stage/Stage.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/control.tsx
Due: prettier --write, eslint --fix

:green_heart: Fix wrong paths in CI
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

:green_heart: fix ci
  .github/workflows/nightly.yml
Due: prettier --write

perf(app): 优化 IndexedDBFileSystem 性能
  app/src/utils/fs/IndexedDBFileSystem.tsx
Due: prettier --write, eslint --fix

perf(app): 优化文件操作性能
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/lib.rs
  app/src/utils/fs/TauriFileSystem.tsx
Due: prettier --write, eslint --fix

feat(dataFileService): 使用 nanotar 替代 jszip 处理文件压缩和解压，提高性能
  app/package.json
  app/src/core/service/dataFileService/VFileSystem.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

✨ 增加新手教程
  app/src/assets/projectGraphTips.json
  app/src/core/service/helpService/helpService.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/test.tsx
Due: prettier --write, eslint --fix

🐛 修复VEditor的markdown编辑器输入时失去焦点的问题
  app/src/pages/_vditor_panel.tsx
  app/src/pages/test.tsx
Due: prettier --write, eslint --fix

✨ 按中括号键缩放摄像机时，跟随屏幕中心缩放，而不是鼠标指针位置
  app/src/core/stage/Camera.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
  app/src/main.tsx
Due: prettier --write, eslint --fix

✨ 增加键盘调整摄像机缩放倍率的自定义设置项
  app/src/core/service/Settings.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/control.tsx
Due: prettier --write, eslint --fix

:sparkles: Add custom update channel setting
  .vscode/settings.json
  app/src-tauri/src/lib.rs
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/about.tsx
Due: prettier --write, eslint --fix

🙈 自动保存导致产生的文件
  .gitignore
Due: none

👔 增加完全覆盖框选的API
  app/src/core/stage/stageObject/collisionBox/collisionBox.tsx
Due: prettier --write, eslint --fix

✨ 增加向左向右框选的不同框选策略
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/stage/Stage.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/control.tsx
Due: prettier --write, eslint --fix

💄 让完全框选看起来不一样
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
Due: prettier --write, eslint --fix

🐛 修复section框内双击创建的节点掉出的问题
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: prettier --write, eslint --fix

🚸 完善帮助文档
  app/src/assets/projectGraphTips.json
Due: prettier --write

🚸 优化加载帮助的弹窗提示
  app/src/pages/_app_menu.tsx
Due: prettier --write, eslint --fix

🐛 修复了tooltip遮挡左上角菜单按钮的问题
  app/src/components/Box.tsx
Due: prettier --write, eslint --fix

🐛 修复所有按钮失去鼠标图标变化的问题
  app/src/index.css
Due: none
